@page
@model Lab1.Pages.UserSignUpModel
@{
ViewData["Title"] = "Faculty Signup";
}

<style>
    body {
        background-color: #DACCE6;
        font-family: Arial, sans-serif;
    }

    h3 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        color: #472b7f;
        font-weight: bold;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 20px #888888;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #472b7f;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
        background-color: #472b7f;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    input[type="submit"]:hover {
            background-color: #472b7f;
    }
     button {
        background-color: #472b7f;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
<br />
<form method="post" asp-page="DisplayName">
    <h3>Faculty Signup</h3>
    <div class="form-group">
        <label for="FirstName">First Name:</label>
        <input asp-for="FirstName" class="form-control" id="FirstName" placeholder="Enter First Name" required>
    </div>
    <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input asp-for="LastName" class="form-control" id="LastName" placeholder="Enter Last Name" required>
    </div>
    <div class="form-group">
        <label for="Username">Username:</label>
        <input asp-for="Username" class="form-control" id="Username" placeholder="Enter Username" required>
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input asp-for="Password" class="form-control" id="Password" placeholder="Enter Password" type="password" required>
    </div>
    <div class="form-group">
        <label for="Email">Email:</label>
        <input asp-for="Email" class="form-control" id="Email" placeholder="Enter Email" type="email" required>
    </div>
    <div class="form-group">
        <label for="OfficeLocation">Office Location:</label>
        <input asp-for="OfficeLocation" class="form-control" id="OfficeLocation" placeholder="Enter Building & Room" required>
    </div>
    
        <button type="submit" class="btn btn-primary" name="button" value="submit">Create Account</button>             
        <button type="submit" class="btn btn-outline-primary" name="button" value="populate" formnovalidate>Populate</button>
        <button type="submit" class="btn btn-outline-primary" name="button" value="clear" formnovalidate>Clear</button>
       
</form>